TeamSite/classes/src/dbunit/Nikon-BV-DBSchema.dtd

<!ELEMENT dataset (
    ACCESSORY*,
    ACCESSORY_2_AWARD*,
    ACCESSORY_2_CATEGORY*,
    ACCESSORY_2_COUNTRY*,
    ACCESSORY_2_KIT*,
    ACCESSORY_2_PRODUCT*,
    AWARD*,
    AWARD_2_COUNTRY*,
    BILL_OF_MATERIALS*,
    CATEGORY*,
    COLOUR_WAY*,
    COUNTRY*,
    COUNTRY_LANGUAGE*,
    DCR*,
    IMAGE*,
    KIT*,
    KIT_2_AWARD*,
    KIT_2_CATEGORY*,
    KIT_2_COUNTRY*,
    LANGUAGE*,
    PRICE*,
    PRODUCT*,
    PRODUCT_2_AWARD*,
    PRODUCT_2_CATEGORY*,
    PRODUCT_2_COUNTRY*,
    PRODUCT_2_KIT*,
    sysdiagrams*)>

<!ELEMENT ACCESSORY EMPTY>
<!ATTLIST ACCESSORY
    ACCESSORY_ID CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    WWA_DATE CDATA #REQUIRED
    LIVE_DATE CDATA #IMPLIED
>

<!ELEMENT ACCESSORY_2_AWARD EMPTY>
<!ATTLIST ACCESSORY_2_AWARD
    ACCESSORY_ID CDATA #REQUIRED
    AWARD_ID CDATA #REQUIRED
    COUNTRY_CODE CDATA #REQUIRED
>

<!ELEMENT ACCESSORY_2_CATEGORY EMPTY>
<!ATTLIST ACCESSORY_2_CATEGORY
    ACCESSORY_ID CDATA #REQUIRED
    CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT ACCESSORY_2_COUNTRY EMPTY>
<!ATTLIST ACCESSORY_2_COUNTRY
    ACCESSORY_ID CDATA #REQUIRED
    COUNTRY_ID CDATA #REQUIRED
>

<!ELEMENT ACCESSORY_2_KIT EMPTY>
<!ATTLIST ACCESSORY_2_KIT
    ACCESSORY_ID CDATA #REQUIRED
    KIT_ID CDATA #REQUIRED
    COUNTRY_CODE CDATA #REQUIRED
>

<!ELEMENT ACCESSORY_2_PRODUCT EMPTY>
<!ATTLIST ACCESSORY_2_PRODUCT
    ACCESSORY_ID CDATA #REQUIRED
    PRODUCT_ID CDATA #REQUIRED
    COUNTRY_CODE CDATA #REQUIRED
    INCLUDED CDATA #REQUIRED
>

<!ELEMENT AWARD EMPTY>
<!ATTLIST AWARD
    AWARD_ID CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT AWARD_2_COUNTRY EMPTY>
<!ATTLIST AWARD_2_COUNTRY
    AWARD_ID CDATA #REQUIRED
    COUNTRY_ID CDATA #REQUIRED
>

<!ELEMENT BILL_OF_MATERIALS EMPTY>
<!ATTLIST BILL_OF_MATERIALS
    BOM_ID CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
    ACCESSORY_ID CDATA #IMPLIED
    PRODUCT_ID CDATA #IMPLIED
>

<!ELEMENT CATEGORY EMPTY>
<!ATTLIST CATEGORY
    CATEGORY_ID CDATA #REQUIRED
    CATEGORY_NAME CDATA #REQUIRED
    CATEGORY_DESCRIPTION CDATA #REQUIRED
    CATEGORY_LEVEL CDATA #REQUIRED
    PARENT_CATEGORY_ID CDATA #IMPLIED
>

<!ELEMENT COLOUR_WAY EMPTY>
<!ATTLIST COLOUR_WAY
    COL_WAY_ID CDATA #REQUIRED
    COLOUR CDATA #REQUIRED
    PRODUCT_ID CDATA #IMPLIED
>

<!ELEMENT COUNTRY EMPTY>
<!ATTLIST COUNTRY
    COUNTRY_ID CDATA #REQUIRED
    COUNTRY_NAME CDATA #REQUIRED
    COUNTRY_CODE CDATA #REQUIRED
    COUNTRY_CURR_NAME CDATA #REQUIRED
    COUNTRY_CURR_SYMBOL CDATA #REQUIRED
>

<!ELEMENT COUNTRY_LANGUAGE EMPTY>
<!ATTLIST COUNTRY_LANGUAGE
    COUNTRY_ID CDATA #REQUIRED
    LANGUAGE_ID CDATA #REQUIRED
>

<!ELEMENT DCR EMPTY>
<!ATTLIST DCR
    DCR_ID CDATA #REQUIRED
    LOCATION CDATA #REQUIRED
    CATEGORY_ID CDATA #IMPLIED
    PRODUCT_ID CDATA #IMPLIED
    ACCESSORY_ID CDATA #IMPLIED
    KIT_ID CDATA #IMPLIED
>

<!ELEMENT IMAGE EMPTY>
<!ATTLIST IMAGE
    IMAGE_ID CDATA #REQUIRED
    LOCATION CDATA #REQUIRED
    KIT_ID CDATA #IMPLIED
    PRODUCT_ID CDATA #IMPLIED
    ACCESSORY_ID CDATA #IMPLIED
    AWARD_ID CDATA #IMPLIED
    COL_WAY_ID CDATA #IMPLIED
>

<!ELEMENT KIT EMPTY>
<!ATTLIST KIT
    KIT_ID CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    WWA_DATE CDATA #REQUIRED
    LIVE_DATE CDATA #IMPLIED
>

<!ELEMENT KIT_2_AWARD EMPTY>
<!ATTLIST KIT_2_AWARD
    KIT_ID CDATA #REQUIRED
    AWARD_ID CDATA #REQUIRED
    COUNTRY_CODE CDATA #REQUIRED
>

<!ELEMENT KIT_2_CATEGORY EMPTY>
<!ATTLIST KIT_2_CATEGORY
    KIT_ID CDATA #REQUIRED
    CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT KIT_2_COUNTRY EMPTY>
<!ATTLIST KIT_2_COUNTRY
    KIT_ID CDATA #REQUIRED
    COUNTRY_ID CDATA #REQUIRED
>

<!ELEMENT LANGUAGE EMPTY>
<!ATTLIST LANGUAGE
    LANGUAGE_ID CDATA #REQUIRED
    LANGUAGE_NAME CDATA #REQUIRED
    LANGUAGE_CODE CDATA #REQUIRED
>

<!ELEMENT PRICE EMPTY>
<!ATTLIST PRICE
    PRICE_ID CDATA #REQUIRED
    AMOUNT CDATA #IMPLIED
    PRODUCT_ID CDATA #IMPLIED
    KIT_ID CDATA #IMPLIED
    ACCESSORY_ID CDATA #IMPLIED
    COUNTRY_ID CDATA #IMPLIED
>

<!ELEMENT PRODUCT EMPTY>
<!ATTLIST PRODUCT
    PRODUCT_ID CDATA #REQUIRED
    Q_CODE CDATA #IMPLIED
    DESCRIPTION CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    WWA_DATE CDATA #REQUIRED
    LIVE_DATE CDATA #IMPLIED
>

<!ELEMENT PRODUCT_2_AWARD EMPTY>
<!ATTLIST PRODUCT_2_AWARD
    PRODUCT_ID CDATA #REQUIRED
    AWARD_ID CDATA #REQUIRED
    COUNTRY_CODE CDATA #REQUIRED
>

<!ELEMENT PRODUCT_2_CATEGORY EMPTY>
<!ATTLIST PRODUCT_2_CATEGORY
    PRODUCT_ID CDATA #REQUIRED
    CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT PRODUCT_2_COUNTRY EMPTY>
<!ATTLIST PRODUCT_2_COUNTRY
    PRODUCT_ID CDATA #REQUIRED
    COUNTRY_ID CDATA #REQUIRED
    LEFT_NAV_SEQ CDATA #IMPLIED
>

<!ELEMENT PRODUCT_2_KIT EMPTY>
<!ATTLIST PRODUCT_2_KIT
    PRODUCT_ID CDATA #REQUIRED
    KIT_ID CDATA #REQUIRED
    COUNTRY_CODE CDATA #REQUIRED
>

<!ELEMENT sysdiagrams EMPTY>
<!ATTLIST sysdiagrams
    name CDATA #REQUIRED
    principal_id CDATA #REQUIRED
    diagram_id CDATA #REQUIRED
    version CDATA #IMPLIED
    definition CDATA #IMPLIED
>

